*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#050b18;
color:#fff;
overflow-x:hidden;
}

.bg{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at center,#00d4ff22,transparent 70%);
animation:bgGlow 6s infinite alternate;
z-index:-1;
}

@keyframes bgGlow{
from{filter:blur(20px);}
to{filter:blur(70px);}
}

header{
text-align:center;
padding:30px;
}

header h1{
font-size:45px;
color:#00e5ff;
text-shadow:0 0 30px cyan;
}

header p{
margin:10px 0 20px;
color:#bcd;
}

#search{
width:90%;
max-width:500px;
padding:15px;
border:none;
outline:none;
border-radius:40px;
background:#13233d;
color:white;
font-size:17px;
box-shadow:0 0 20px #00d4ff55;
}

.map-section{
display:flex;
justify-content:center;
padding:30px;
}

.map-container{
position:relative;
width:90%;
max-width:900px;
padding:20px;
border-radius:25px;
background:rgba(255,255,255,.05);
backdrop-filter:blur(20px);
box-shadow:
0 0 40px cyan,
inset 0 0 30px #00d4ff44;
}

#map{
width:100%;
display:block;
filter:
drop-shadow(0 0 25px cyan)
drop-shadow(0 0 60px #00d4ff);
animation:floatMap 5s ease-in-out infinite;
}

@keyframes floatMap{
0%,100%{
transform:translateY(0);
}
50%{
transform:translateY(-8px);
}
}

.pin{
position:absolute;
width:18px;
height:18px;
background:#00e5ff;
border-radius:50%;
border:3px solid white;
cursor:pointer;
box-shadow:
0 0 15px cyan,
0 0 35px cyan;
animation:pulse 1.6s infinite;
}

.pin::after{
content:'';
position:absolute;
width:36px;
height:36px;
left:-12px;
top:-12px;
border:2px solid cyan;
border-radius:50%;
animation:ring 2s infinite;
}

@keyframes pulse{
50%{
transform:scale(1.3);
}
}

@keyframes ring{
0%{
transform:scale(.3);
opacity:1;
}
100%{
transform:scale(1.8);
opacity:0;
}
}

/* Pin Positions */

.dhaka{top:58%;left:50%;}
.cox{top:84%;left:73%;}
.sylhet{top:33%;left:69%;}
.chattogram{top:71%;left:66%;}
.rangpur{top:17%;left:37%;}
.rajshahi{top:39%;left:29%;}
.khulna{top:70%;left:34%;}
.barishal{top:69%;left:53%;}
.mymensingh{top:41%;left:53%;}
.sundarbans{top:84%;left:29%;}

.popup{
display:none;
position:fixed;
left:50%;
top:50%;
transform:translate(-50%,-50%);
width:90%;
max-width:420px;
background:#102542;
padding:20px;
border-radius:20px;
box-shadow:0 0 40px cyan;
z-index:999;
}

.popup img{
width:100%;
height:230px;
object-fit:cover;
border-radius:15px;
margin-bottom:15px;
}

.popup h2{
color:#00e5ff;
margin-bottom:10px;
}

.popup p{
line-height:1.7;
color:#ddd;
}

.popup span{
position:absolute;
right:15px;
top:10px;
font-size:24px;
cursor:pointer;
}

#visit{
margin-top:15px;
padding:12px 25px;
border:none;
border-radius:30px;
background:#00d4ff;
font-size:16px;
font-weight:bold;
cursor:pointer;
box-shadow:0 0 20px cyan;
}
